/*Por defecto*/

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: ROBOTO;
}

*::-webkit-scrollbar {
    background: #F8F8F8;
    width: 7px;
    height: 7px;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

*::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

*::-webkit-scrollbar-thumb {
    background: #3A8DB5;
    border: 0px none #ffffff;
    border-radius: 50px;
    transition: 200ms;
}

*::-webkit-scrollbar-thumb {
    background: #3A8DB5;
    border: 0px none #ffffff;
    border-radius: 5000px;
    transition: 100ms;
}

*::-webkit-scrollbar-track {
    background: #F8F8F8;
    border-radius: 50px;
}

*:hover::-webkit-scrollbar-track {
    background: #DDD;
    border-radius: 50px;
}

*::-webkit-scrollbar-corner {
    background: transparent;
}

.cursor-standar{
    cursor: default !important;
}

button{
    outline: none;
}

.btn-danger{
    background-color: #F33 !important;
    transition: 100ms;
}

.btn-danger:hover{
    background-color: #F44 !important;
    transition: 100ms;
}

.break-all-text{
    overflow-wrap: break-word;
}

.config-finish-button{
    background: #F1A957;
    border-radius: 3px;
    color: #FFF;
    padding: 10px;
    transition: 100ms;
}

.config-finish-button:hover{
    background: #F1B967;
    transition: 100ms;
}

.text-overflow-elipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.overflow-wrap{
    overflow-wrap: break-word;
}

.color-breaknotes{
    color: #3A8DB5 !important;
}

button:focus{
    outline: none;
}

.img-deb-review{
    width: 37px;
    min-width: 37px;
    max-width: 37px;
    height: 37px;
    min-height: 37px;
    max-height: 37px;
    border-radius: 100px;
}



.debate-argument-photo{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 100px;
}

.white{
    color: #FFF !important;
}

.red-color{
    color: #F66 !important;
}

.title{
    width: 95%;
    font-size: 19px;
    font-weight: bold;
    padding: 10px 0px;
}

.sub-title{
    font-size: 16px;
    color: #222;
    font-weight: bold;
}

.move-to-top{
    top: 2px;
}

.href{
    cursor: pointer;
    color: #88F !important;
}

.hr{
    border-top: 1px solid #DDD;
    margin:10px 0px;
}

.hard-font{
    font-size: 17px;
    font-weight: bold;
}

.extend-to-300{
    width: 300px;
}

.light-font{
    color: #888;
    font-size: 14px;
}

textarea{

    resize: none;
    height: none;
}

.img-user-non-adjust{
    position: relative;
    bottom: 3px;
    margin-right: 10px;
}

.margin-lr-0{
    margin-left: 0;
    margin-right: 0;
}

.center-all-on-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text-center{
    text-align: center;

}


.chat-send-messages-icon{
    background: #AAA ;
    border-radius: 100px;
    padding: 30px 3px;
}

.send-streaming-message{
    background: #F1B967;
    border-radius: 100px;
    padding: 30px 3px;
}

.success-message{
    padding: 3px 10px;
    background: #9D9;
    color: #FFF;
}

.error-message{
    padding: 3px 10px;
    background: #F99;
    color: #FFF;
}

.success-message .close-message-profile,
.error-message .close-message-profile{
    cursor: pointer;
}

html, body{
    width: 100%;
    height: 100%;
}

/*Diseño de modal personalizado*/

.modal-comment{
    z-index: 10;
    position: absolute;
    width: 100%;
    height:100%;
    background: rgba(230, 230, 230, 0.6);
    display: none;
    flex-grow: initial;
    justify-content: center;
    align-items: center;
}

.modal-comment .modal-box{
    background: #fff;
    width: 700px;
    height: 100%;
    box-shadow: 0px 0px 30px 10px #BBB;
    border-radius: 5px;
    overflow: auto;
}

.modal-post, .modal-debate, .modal-deactivate{
    z-index: 10;
    position: absolute;
    width: 100%;
    height:100%;
    background: rgba(230, 230, 230, 0.6);
    display: none;
    flex-grow: initial;
    justify-content: center;
    align-items: center;
}



.modal-post-access, .modal-transmition-access, .modal-debate-access
{
    z-index: 10;
    position: absolute;
    width: 100%;
    height:100%;
    background: rgba(230, 230, 230, 0.6);
    display: none;
    flex-grow: initial;
    justify-content: center;
    align-items: center;  
    left: 0;
    top: 0;
}


.modal-deactivate{
    z-index: 10;
    position: absolute;
    width: 100%;
    height:100%;
    background: rgba(230, 230, 230, 0.6);
    display: none;
    flex-grow: initial;
    justify-content: center;
    align-items: center;
    top:0;
}

.modal-box{
    background: #fff;
    width: 500px;
    box-shadow: 0px 0px 30px 10px #BBB;
    border-radius: 5px;
    overflow: auto;
}

.modal-box .modal-post-content{
    padding: 0px 20px;
}

.modal-box .modal-post-content .modal-post-by-user{
    overflow-wrap: break-word;
}

.modal-box  .debate-title, .streaming-title, .streaming-description {
    padding-top: 0px !important;
    padding: 10px 20px;
}

.modal-box .debate-theme, .streaming-theme {
    padding-top: 0px !important;
    padding: 10px 20px;
}

.modal-box input[type="text"]{
    cursor: text !important;
}



.modal-box .modal-post-content .modal-comment-container{
    margin: 10px 0px;
    padding: 10px 15px;
    background: #F8F8F8;
    border-radius: 5px;
}

.modal-box .modal-post-content .modal-comment-container .modal-user-img{
    padding: 0px 10px;
}

.modal-box .modal-post-content .modal-comment-container .modal-user-img .modal-user-comment-img{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 100px;
}

.modal-box .modal-comment-box .modal-user-comment{
    overflow-wrap: break-word;
    padding: 0px 10px;
}

 .modal-box .modal-title{
    justify-content: center;
    align-items: center;
    background: #3A8DB5;
    padding: 15px 30px;
    width: 100%;
    color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

 .modal-box .modal-title .modal-close, .modal-close-create-post{
    z-index: 4;
    display: block;
    text-align: center;
    background: #F1A957;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    cursor: pointer;
}



 .modal-box .modal-info-post {
    padding: 15px 0px;
}

 .modal-box .modal-info-post .modal-img-container{
    padding: 0px 15px;
}

 .modal-box .modal-info-post .modal-profile-photo{
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 100px;
}

.modal-text-center{
    position: relative;
    left: 10px;
    text-align: center;
}

 .modal-box .footer-panel{
    padding: 15px 15px;
}

 .whrite-post{
    padding: 0px 15px;
}

 .whrite-post .textarea-control{
    display: block;
    width: 100%;
    flex-grow: 1;
    height: 150px;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #DDD;
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 0px 10px;
}

 .modal-box .footer-panel .btn-submit{
    width: 100%;
    background: #AAA;
    border-radius: 3px;
    color: #FFF;
    padding: 5px 0px;
}


.modal-box::-webkit-scrollbar {
    background: #F8F8F8;
    width: 7px;
    height: 7px;
}

.modal-box:hover::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.modal-box::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

.modal-box::-webkit-scrollbar-thumb {
    background: #3A8DB5;
    border: 0px none #ffffff;
    border-radius: 50px;
    transition: 200ms;
}

.modal-box:hover::-webkit-scrollbar-thumb {
    background: #3A8DB5;
    border: 0px none #ffffff;
    border-radius: 5000px;
    transition: 100ms;
}

.modal-box::-webkit-scrollbar-track {
    background: #F8F8F8;
    border-radius: 50px;
}

.modal-box:hover::-webkit-scrollbar-track {
    background: #DDD;
    border-radius: 50px;
}

.modal-box::-webkit-scrollbar-corner {
    background: transparent;
}

/*Estilos general*/



.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.navbar{
    background: #3A8DB5;
    height: 50px;
    z-index: 1;
    display: inline-block;
    align-items: center;
}

.navbar-menu-logo{
    display: inline-block;
    height:50px;
    padding: 0px 10px;
}

.navbar-menu-logo .page-name{
    padding: 0px 10px;
    font-size: 20px;
    color: #FFF;
}

.config-box{
    top: 3px;
}

.config-box .inbox-panel{
    display: none;
    background: #FFF;
    right: 20px;
    z-index: 3;
    padding: 20px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -2px #000;
    overflow-y: auto;
}

.config-box .config-panel{
    display: none;
    background: #FFF;
    right: 20px;
    z-index: 3;
    padding: 20px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -2px #000;
    overflow-y: auto;
}

.config-box .config-panel .img-profile-settings{
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    border-radius: 100px;
}
.config-box .config-panel .user-settings-info{
    padding: 0px 10px;
}


.config-box .config-panel .config-action{
    background: #FFF;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    transition: 100ms;
    
}

.config-box .config-panel .config-action button{
    border: none;
    outline:none;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.config-box .config-panel .config-action button:focus{
    border: none;
    outline: none;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.config-box .config-panel .config-action button:active{
    border: none;
    outline:none;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.config-box .config-panel .config-action:hover{
    background: #EEE;
    transition: 100ms;
}

.navbar-menu-tools{
    position: relative;
    float: right;
    right: 20px;
}

.navbar-menu-tools .tools{
    display: inline-flex;
    height: 50px;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px 11.5px;
}

.navbar-menu-tools .inbox{
    display: none;
    height: 50px;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px 11.5px;
}

.navbar-menu-tools .home{
    display: inline-flex;
    height: 50px;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px 11.5px;
}

.navbar-menu-tools .home.config-box{
    border-left: 1px solid #F1A957;
    border-right: 1px solid #F1A957;
    background: #F1A957;
    border-radius: 100px;
    margin-right: 5px;
    transition: 100ms;
}

.navbar-menu-tools .home.config-box:hover{
    background: #F1B967;
    transition: 100ms;
}

.navbar-menu-tools .nav-profile-box{
    background: #F1A957;
    display: inline-flex;
    height: 50px;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px 30px;
    padding: 0px 16px;
    border-radius: 100px;
    color: #FFF;
    transition: 100ms;
}

.navbar-menu-tools .nav-profile-box:hover{
    background: #F1B967;
    transition: 100ms;
}

.navbar-menu-tools .nav-profile-box .img-profile-settings{
    margin-right: 7px;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    border-radius: 100px;
}

.navbar-menu-tools .tools.config-box{
    border-left: 1px solid #F1A957;
    border-right: 1px solid #F1A957;
    background: #F1A957;
    border-radius: 100px;
    transition: 100ms;
}

.navbar-menu-tools .tools.config-box:hover{
    background: #F1B967;
    transition: 100ms;
}

.navbar-menu-tools .inbox.config-box{
    border-left: 1px solid #F1A957;
    border-right: 1px solid #F1A957;
    background: #F1A957;
    border-radius: 100px;
}

.main .second-navbar-menu{
    background: #F8F8F8;
    border-bottom: 1px solid #DDD;
    font-size: 16px;
}

.main .second-navbar-menu a{
    border-bottom: 1px solid #F8F8F8;
    transition: 200ms;
}



.main .second-navbar-menu a:hover{
    color: #F1A957;
    border-bottom: 1px solid #F1A957;
    transition: 100ms;
}

.paper-body{
    display: flex;
    flex-direction: row;
    height: 0%;
    flex-grow: 1;
    justify-content: center;
}

/*Termino de los estilos generales*/
/*Estilos Publicaciones*/

.paper-body .personal-container{
    max-width: 1500px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.paper-body .personal-container .left-column{
    display: none;
    width: 100%;
    background: #3A8DB5;
    height: 100%;
    z-index: 2;
    padding: 0;
}

.paper-body .personal-container .lateral-menu{
    height: 100%;
}

.paper-body .personal-container .lateral-menu .lateral-navbar{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.paper-body .personal-container .lateral-menu .lateral-navbar li{
    display: block;
    line-height: 22px;

}

.paper-body .personal-container .lateral-menu .lateral-navbar .user-chat-photo{
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    border-radius: 100px;
}


.paper-body .personal-container .lateral-menu .lateral-navbar li .header-navbar{
    background: linear-gradient(to bottom, #F1A957 0%, #C05A1D 100%) ;
    padding: 10px 20px;
    font-size: 13px;
    display: block;
    color: #FFF;
    transition: 100ms;
    text-align: left;
    text-align: center;
}

.paper-body .personal-container .lateral-menu .lateral-navbar li .header-navbar:hover{
    text-align: center;
    text-decoration: none;
}

.paper-body .personal-container .lateral-menu .lateral-navbar li .div-navbar{
    padding: 2px 20px;
    font-size: 13px;
    display: block;
    color: #FFF;
    transition: 100ms;
    text-align: left;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.paper-body .personal-container .lateral-menu .lateral-navbar li .div-navbar:hover{
    text-align: center;
    text-decoration: none;
}

.paper-body .personal-container .right-column .lateral-menu .lateral-navbar li a{
    color: #000;
}

.paper-body .personal-container .lateral-menu .lateral-navbar li .element-navbar:hover{
    background: #F08A4D;
    text-decoration: none;
    padding: 10px 25px;
    transition: 200ms;
}

.paper-body .personal-container .lateral-menu .lateral-navbar li .element-navbar{
    padding: 10px 20px;
    font-size: 13px;
    display: block;
    color: #FFF;
    transition: 100ms;
    text-align: left;
}

.paper-body .personal-container .lateral-menu .lateral-navbar li .social-navbar:hover{
    background: #F08A4D;
    text-decoration: none;
    transition: 200ms;
}

.paper-body .personal-container .lateral-menu .lateral-navbar li .social-navbar{
    padding: 10px 20px;
    font-size: 13px;
    display: block;
    color: #FFF;
    transition: 100ms;
    text-align: left;
}

.paper-body .personal-container .lateral-menu .lateral-navbar .social-search{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    background: #3A8DB5;
    color: #FFF;
    width: 100%;
}

.paper-body .personal-container .lateral-menu .lateral-navbar .social-search .social-search-btn{
    border-radius: 100px;
    color: white;
    display: flex;
    flex: 1;
}

.paper-body .personal-container .lateral-menu .lateral-navbar .social-search .title-social-search{
    display: flex;
    flex: 100;
}

.paper-body .personal-container .lateral-menu .lateral-navbar .friend-list{
    height: 45px;
    border-radius: 100px;
    transition: 200ms;
}

.paper-body .personal-container .lateral-menu .lateral-navbar .friend-list:hover{
    background: #F1A957;
    padding: 0px 10px;
    transition: 100ms;
}

.paper-body .personal-container .lateral-menu .lateral-navbar .friend-list .friend-img{
    padding: 10px;
}

.paper-body .personal-container .lateral-menu .lateral-navbar .all-friend{
    color: #33F;
}

.paper-body .personal-container .lateral-menu .lateral-navbar .all-friend:hover{
    background: #66F;
    color: #FFF;
}


.paper-body .personal-container .lateral-menu .lateral-navbar li .active{
    background: #F1A957;
}

.paper-body .personal-container .right-column{
    width: 100%;
    height: 100%;
    background: #F8F8F8;
    padding-left: 0;
    padding-right: 0;
    overflow-y: auto;
}

.paper-body .personal-container .mid-column{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 0;
    margin: 0;
    background: #F8F8F8;
    overflow-y: auto;
}

.mid-column .general-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.mid-column .general-content .general-navbar{
    width: 98%;
    padding: 7px 10px;
    box-shadow: 0px 3px 8px 0px #AAA
}

.mid-column .general-content .general-body{
    background: rgba(180, 180, 180, 0.1);
    width: 98%;
    height: 100%;
    align-items: center;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    padding: 20px 0px;
    margin: 0px 10px;
}

.mid-column .general-content .general-body .user-profile-post{
    display: flex;
    flex-direction: row;
}

.mid-column .general-content .general-body .user-profile-post .user-post-img{
    width: 45px;
    min-width: 45px;
    max-width: 45px;
    height: 45px;
    min-height: 45px;
    max-height: 45px;
    border-radius: 100px;
}


.mid-column .general-content  .user-container-post{
    border-radius: 20px;
    width: 700px;
    box-shadow: 0px 1px 4px -1px #AAA
}

.mid-column .general-content  .user-container-post .delete-post{
    position: absolute;
    margin: 12px 15px;
}

.mid-column .general-content  .user-container-post .delete-post .delete-btn-post{
    z-index: 4;
    display: block;
    text-align: center;
    background: #3A8DB5;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    cursor: pointer;
    color: #FFF;
    font-size: 19px;
}

.mid-column .general-content  .user-container-post .delete-post .delete-btn-post span{
    position: relative;
    bottom: 1px;
    left: 0.5px;
}

.mid-column .general-content .user-container-post .photo-friend-user{
    display:inline;
    width: 65px;
    min-width: 65px;
    max-width: 65px;
    height: 65px;
    min-height: 65px;
    max-height: 65px;
    border-radius: 100px;
}

.mid-column .general-content .user-container-post .img-post-review{
    width: 37px;
    min-width: 37px;
    max-width: 37px;
    height: 37px;
    min-height: 37px;
    max-height: 37px;
    border-radius: 100px;
}

.breaknote-search{
    border-radius: 100px;
    margin: 5px 0px;
}

.people-search{
    display: none;
    width: 400px;
    border-radius: 5px;
    max-height: 300px;
    position: absolute;
    background: #fff;
    overflow: auto;
    padding: 10px 0px;
    box-shadow: 0px 0px 5px -2px #000;
}

.people-search .people-search-container{
    padding: 1px 10px;
}

.people-search .people-search-container .search-profile-photo{
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    border-radius: 100px;
}

.people-search .people-search-container a{
    border-radius: 50px;
    padding: 5px 5px;
    transition: 50ms;
}

.people-search .people-search-container a:hover{
    border-radius: 50px;
    padding: 5px 7px;
    background: #F6AF5D;
}

.mid-column .general-content .general-navbar .navbar-tools{
    display: flex;
    align-items: center;
    border-radius: 100px;
    background: #E5E5E5;
    padding: 2px 0px;
}

.mid-column .general-content .general-navbar .navbar-tools .tools{
    padding: 0px 5px;
    margin: auto;
    border-radius: 100px;
    transition: 100ms;
}

.mid-column .general-content .general-navbar .navbar-tools .inbox{
    padding: 0px 5px;
    margin: auto;
    border-radius: 100px;
    transition: 100ms;
}


.mid-column .general-content .general-navbar .navbar-tools .tools:hover{
    background: #77F;
    transition: 200ms;
}

.mid-column .general-content .general-navbar .navbar-tools .inbox:hover{
    background: #77F;
    transition: 200ms;
}


.user-container-post{
    background: #FFF;
}

.user-post-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #AAA;
    margin-top: 5px;
    margin-bottom: 2px;
}

.user-post{
    padding: 20px 20px;
    overflow-wrap: break-word;
}

/*Termino de los estilos Publicaciones*/


/*-----------Barra de navegación general----------*/
.mid-column .general-content .general-body::-webkit-scrollbar {
    background: #F8F8F8;
    width: 7px;
    height: 7px;
}

.mid-column .general-content .general-body:hover::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.mid-column .general-content .general-body::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

/*---------Barra de navegación, el boton y el fondo--------*/
.mid-column .general-content .general-body::-webkit-scrollbar-thumb {
    background: none;
    border: 0px none #ffffff;
    border-radius: 50px;
}

.mid-column .general-content .general-body:hover::-webkit-scrollbar-thumb {
    background: #3A8DB5;
    border: 0px none #ffffff;
    border-radius: 5000px;
}

.mid-column .general-content .general-body::-webkit-scrollbar-track {
    background: rgba(180, 180, 180, 0.1);
    border-radius: 50px;
}

.mid-column .general-content .general-body:hover::-webkit-scrollbar-track {
    background: #DDD;
    border-radius: 50px;
}

.mid-column .general-content .general-body::-webkit-scrollbar-corner {
    background: transparent;
}

.mid-column .general-content .general-body::-webkit-scrollbar {
    background: #F8F8F8;
    width: 7px;
    height: 7px;
}

.mid-column .general-content .general-body:hover::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.mid-column .general-content .general-body::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}


/*------Barra de navegación de la red social--------*/

.right-column::-webkit-scrollbar {
    background: #F8F8F8;
    width: 7px;
    height: 7px;
}

.right-column:hover::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.right-column::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

.right-column::-webkit-scrollbar-thumb {
    background: #F8F8F8;
    border: 0px none #ffffff;
    border-radius: 50px;
    transition: 200ms;
}

.right-column:hover::-webkit-scrollbar-thumb {
    background: #F1A957;
    border: 0px none #ffffff;
    border-radius: 5000px;
    transition: 100ms;
}

.right-column::-webkit-scrollbar-track {
    background: #F8F8F8;
    border-radius: 50px;
}

.right-column:hover::-webkit-scrollbar-track {
    background: #DDD;
    border-radius: 50px;
}

.right-column::-webkit-scrollbar-corner {
    background: transparent;
}

.input-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #AAA;
    border-radius: 100px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}


.textarea-control{
    display: block;
    width: 100%;
    height: 120px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.textarea-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
}
  
.input-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
}
  
.input-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}
  
.input-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}
  
.input-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.post-control{
    margin:10px;
    padding: 20px 10px;
    cursor: pointer;
    background: #F6F6F6;
}

.comment-control{
    cursor: pointer;
    background: #F6F6F6;
}

.post-control:hover{
    background: #F0F0F0;
    margin:10px;
    padding: 20px 10px;
}

/*Estilos de Streaming*/

.setup{
    background: #F7AF5D;
    margin: 0px 150px;
    padding: 10px;
    border-radius: 3px;
    color: #FFF;
}

.setup .rec{
    background: #F33;
    border-radius: 100px;
    width: 18px;
    height: 18px;
}

.streaming-container.start-streaming{
    text-align: center;
    width: 700px;
}

.streaming-container.start-streaming .btn-start-streaming{
    background: #FFF;
    display: block;
    padding: 10px 0px;
    border-radius: 15px;
    font-weight: bold;
}

.streaming-container.popular-streaming{
    width: 95%;
    border-radius: 20px;
    box-shadow: 0px 1px 4px -1px #AAA;
    background: #FFF;
}

.streaming-container.popular-streaming .popular-container{
    height: 360px;
    position: relative;
}

.streaming-container.popular-streaming .popular-container .popular-window{
    height: 300px;
    width: 600px;
    border: 1px solid #000;
}

.streaming-container.popular-streaming .popular-container .popular-window.r1-1{
    background: #FFF;
    position: absolute !important;
    z-index: 10;
}

.streaming-container.popular-streaming .popular-container .popular-window.r2-1{
    background: #FFF;
    position: absolute !important;
    z-index: 9;
    transform: translateX(233px) translateX(-50%) scale(0.9);
}

.streaming-container.popular-streaming .popular-container .popular-window.r2-2{
    background: #FFF;
    position: absolute !important;
    z-index: 9;
    transform: translateX(-233px) translateX(50%) scale(0.9);
}

.general-streaming-container.follow-streaming{
    width: 95%;
    border-radius: 20px;
    box-shadow: 0px 1px 4px -1px #AAA;
    background: #FFF;
}

.general-streaming-container.follow-streaming .footer-general-streaming-container{
    border-top: 1px solid #999;
    color: #66F;
}


.general-streaming-container.follow-streaming .general-container{
   padding: 20px 0px;
}

.general-streaming-container.follow-streaming .general-container .general-window{
    margin: 5px auto;
    height: 220px;
    width: 270px;
}

.general-streaming-container.follow-streaming .general-container .general-window .video-preview{
    border: 1px solid #AAA;
    height: 150px;
    width: 270px;
}

.general-streaming-container.follow-streaming .general-container .general-window .video-preview .img-preview{
    height: 148px;
    width: 270px;
}

.general-streaming-container.follow-streaming .general-container .general-window .video-description{
    padding: 10px 0px;
    height: 70px;
    width: 270px;
}

.general-streaming-container.follow-streaming .general-container .general-window .video-description .hard-font{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.img-streaming-user-streaming{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 100px;
}

.streaming-container-room{
    width: 90%;
    background: #FFF;
    box-shadow: 0px 0px 4px -1px #aaa;
    border-radius: 3px;
    padding: 15px 0px;
}

.streaming-container-room .video-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 150px;
    border: 1px solid #AAA;
    height: 446px;
    background: #000;
}

.streaming-container-room .info-streaming{
    padding: 0px 25px;
}

.streaming-container-room .user-streaming .title{
    padding: 0px 10px;
}

.streaming-container-room .info-streaming .user-streaming-photo{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 100px;
}

.chat-streaming-list{
    overflow: auto;
    height: 100%;
}

.chat-streaming-list .chat-streaming-container{
    
    background: #EEE;
    padding: 5px;
    border-radius: 5px;
    margin: 7px 0px;
}

.chat-streaming-list .chat-streaming-container .chat-streaming-message{
    overflow-wrap: break-word;
    overflow: hidden;
    
}

.chat-form-list{
    padding: 5px;
}



/*Estilos de Debate*/

.mid-column .general-content .user-debate-container{
    border-radius: 20px;
    width: 700px;
    box-shadow: 0px 1px 4px -1px #AAA;
    background: #FFF;
}

.mid-column .general-content .answer-button{
    padding-bottom: 15px;
}

.mid-column .general-content .answer-button button{
    border-radius: 3px;
    padding: 5px;
    color: #FFF;
    background: #3A8DB5;
}

.mid-column .general-content .user-debate-container .user-photo-debate{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 100px;
}

.mid-column .general-content .user-debate-container .delete-btn-debate{
    z-index: 4;
    display: block;
    text-align: center;
    background: #3A8DB5;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    cursor: pointer;
    color: #FFF;
    font-size: 19px;
    position: relative;
    bottom: 2px;
    margin-right: 10px;
}

.mid-column .general-content .user-debate-container .delete-btn-debate span{
    position: relative;
    bottom: 1px;
    left: 0.5px;
}

.mid-column .general-content .user-debate-container .non-user-debate{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

.mid-column .general-content .user-debate-container .non-user-debate .new-debate-btn{
    z-index: 4;
    display: block;
    text-align: center;
    background: #3A8DB5;
    width: 95%;
    border-radius: 5px;
    padding: 5px 0px;
    cursor: pointer;
    color: #FFF;
    font-size: 19px;
}

.mid-column .general-content .user-debate-container .non-user-debate .new-debate-btn span{
    position: relative;

    left: 0.5px;
}


.mid-column .general-content .user-debate-container .title-box{
    padding: 0px 20px;
    padding-top: 20px;
    width: 100%;
}

.mid-column .general-content .user-debate-container .title-box .debate-user-title{
    overflow-wrap: break-word;
}

.mid-column .general-content .user-debate-container .debate-result{
    background: #F7AF5D;
    border-radius: 5px;
    padding: 0px 10px;
    color: #FFF;
}

.mid-column .general-content .user-debate-container .debate-argument{
    border-top: 1px solid #AAA;
    text-align: justify;
    overflow-wrap: break-word;
}

.mid-column .general-content .user-debate-container .argument-box{
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px 0px;
    background: #F8F8F8;
}

.mid-column .general-content .user-debate-container .argument-box .like-argument-container{
    padding: 0px 10px;
}

.mid-column .general-content .user-debate-container .info-user-argument .user-photo{
    padding: 0px 10px;
}

.mid-column .general-content .user-debate-container .user-argument-content{
    padding: 0px 10px;
    text-align: justify;
}

.title-box .span{
    border-bottom: 1px solid #AAA;
    display: block;
    padding-bottom: 10px;
}

/*Fin estilos de debates*/

/*Inicio de los estilos de configuracion global*/

.mid-column .general-content .config-box{
    border-radius: 5px;
    width: 80%;
    box-shadow: 0px 1px 4px -1px #AAA;
    background: #FFF;
    margin: 15px;
}

.mid-column .general-content .config-box .config-title{
    padding: 10px 20px;
    width: 100%;
    background: #EEE;
    border: 1px solid #DDD;
    border-radius: 5px;
}

.mid-column .general-content .config-box .config-container{
    padding: 30px 150px;
    width: 100%;
}

.mid-column .general-content .config-box .config-container .Profile_Photo{
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    border-radius: 100px;
}

.mid-column .general-content .config-box .input-label{
    padding: 8px 20px;
    margin: 5px 0px;
    border: 3px solid #FFF;
    border-radius: 10px;
    transition: 200ms;
}

.mid-column .general-content .config-box .input-label-MP0{
    padding: 0px 20px;
    margin: 0px;
    border: 3px solid #FFF;
    border-radius: 10px;
    transition: 200ms;
}

.mid-column .general-content .config-box .input-label-MP0 .password-error-window{
    display: none;
}

.mid-column .general-content .config-box .input-label.active{
    padding: 8px 20px;
    margin: 5px 0px;
    border: 3px solid #9E9;
    border-radius: 10px;
    transition: 200ms;
}

.mid-column .general-content .config-box .input-label .follow-tag{
    border: 1px solid #DDD;
    border-radius: 100px;
    padding: 10px;
    position: relative;
}

.follow-tag .contact-option{
    border-radius: 100px;
    cursor: pointer;
    transition: 200ms;
}

.follow-tag .contact-option:hover{
    background: #F7BF6D;
    border-radius: 100px;
    cursor: pointer;
    transition: 200ms;
}

.follow-tag .contact-option.active{
    background: #F7AF5D;
    transition: 200ms;
    cursor: pointer;
}

.follow-tag .contact-option-container{
    z-index: 10;
    background-color: #FFF;
    box-shadow: 0px 0px 5px 0px #AAA;
    border-radius: 3px;
    position: absolute;
    transform: scale(1) translate(350px, 0px);
    padding: 7px;
    display: none;
}

.follow-tag .contact-option-container .unfollow-container{
    padding: 7px;
}

.follow-tag .contact-option-container .unfollow-container:hover{
    cursor: pointer;
    border-radius: 100px;
    background: #DDD;
}

.mid-column .general-content .config-box .input-label .follow-tag .photo-friend-user{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 100px;
}

.mid-column .general-content .config-box .input-label .interesting-tag{
    border: 1px solid #DDD;
    padding: 10px;
}

.mid-column .general-content .config-box .input-label .interesting-tag .interesting-img-box{
    background: black;
    height: 150px;
}

.mid-column .general-content .config-box .input-label .interesting-tag .interesting-title{
    border-top: 1px solid #DDD;
    padding: 10px;
    padding-bottom: 0px;
}



/*Estilos de la vista de perfiles de usaurio*/

.mid-column .general-content .profile-box{
    border-radius: 5px;
    width: 80%;
    box-shadow: 0px 1px 4px -1px #AAA;
    background: #FFF;
    margin: 15px;
    z-index: 1;
}

.mid-column .general-content .render-tag{
    z-index: 0;
    padding: 10px 0px;
    margin: 0px 10px;
    width: 150px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 1px 4px -1px #AAA;
    color: #FFF;
    background: #3A8DB5;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-height: 45px;
    transition: 40ms;
}

.mid-column .general-content .render-tag:hover{
    padding-top: 18px;
    background: #F1A957;
    color: #FFF;
    max-height: 50px;
    transition: 40ms;
}

.mid-column .general-content .render-tag.active{
    padding-top: 22px;
    background: #F1A957;
    color: #FFF;
    max-height: 65px;
}

.mid-column .general-content .profile-box .profile-container{
    padding: 30px 50px;
    width: 100%;
}

.mid-column .general-content .profile-box .profile-container .personal-info {
    padding-bottom: 30px;
}


.mid-column .general-content .profile-box .profile-container .profile-user-info{
    min-width: 300px;
    padding: 0px 50px;
}

.mid-column .general-content .profile-box .profile-container .user-user-font{
    font-size: 30px;
    font-weight: bold;
}

.mid-column .general-content .profile-box .profile-container .user-name-font{
    font-size: 25px;
    color: #999;
}

.mid-column .general-content .profile-box .profile-container .profile-config_friend{
    width: 200px;
    text-align: center;
}

.mid-column .general-content .profile-box .profile-container .profile-config_friend .btn-submit.important-btn-submit{
    background: #F77 !important;
}

.mid-column .general-content .profile-box .profile-container .profile-config_friend .btn-submit.important-btn-submit:hover{
    background: #F88 !important;
}

.mid-column .general-content .profile-box .profile-container .profile-config_friend .btn-submit{
    display: block;
    background: #F1A957;
    border-radius: 3px;
    color: #FFF;
    padding: 5px 0px;
    font-size: 20px;
    transition: 100ms;
}

.mid-column .general-content .profile-box .profile-container .profile-config_friend .btn-submit:hover{
    background: #F1B967;
    transition: 100ms;
}

.mid-column .general-content .profile-box .profile-container .profile-user .profile-img-profile{
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    border-radius: 150px;
}

.mid-column .general-content .profile-box .input-label{
    padding: 8px 20px;
    margin: 5px 0px;
    border: 3px solid #FFF;
    border-radius: 10px;
    transition: 200ms;
}

.mid-column .general-content .profile-box .input-label .interesting-tag{
    border: 1px solid #DDD;
    padding: 10px;
}

.mid-column .general-content .profile-box .input-label .interesting-tag .interesting-img-box{
    background: black;
    height: 150px;
}

.mid-column .general-content .profile-box .input-label .interesting-tag .interesting-title{
    border-top: 1px solid #DDD;
    padding: 10px;
    padding-bottom: 0px;
}

.user-debate-view,
.user-post-view{
    display: none;
}


/* Seccion de chat */

.chat{
    display: none;
    transform: scale(1) translate(10px, -500px);
    z-index: 200;
}

.chat .chat-control{
    height: 87px !important;
}

.chat .chat-section{
    display: flex;
    position: absolute;
    z-index: 20;
    height: 500px;
}


.chat .chat-section .chat-box{
    border-radius: 5px;
    border: 1px solid #AAA;
    background: #FFF;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.chat .chat-section .chat-box-inactive{
    border-radius: 5px;
    border: 1px solid #AAA;
    background: #FFF;

}

.chat .chat-section .chat-box .chat-name{
    padding: 7px;
    background: #3A8DB5;
    color: #FFF;
    max-width: 300px;
    width: 400px;
    font-weight: bold;
    border-radius: 3px;
    margin: 0px;
}

.chat .chat-section .chat-box .message-container{
    overflow-y: scroll;
    height: 365px;
    max-height: 365px;
}

.chat .chat-section .chat-box .user-chat-img .chat-img-container{
    padding-right: 5px;
}

.user-photo-chat{
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 100px;
}

.chat .chat-section .chat-box .message-container .chat-message{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 280px;
    overflow: hidden;
    white-space: wrap;
    background: #EEE;
    padding: 7px;
    border-radius: 5px;
    overflow-wrap: break-word;
}

.close-chat{
    cursor: pointer;
    background: #F1A957;
    padding: 0px 7px;
    border-radius: 100px;
}

.close-chat .move-close-chat{
    position: relative;
    bottom: 0.8px;
    right: 0.1px;
}

.fixeado{
    position: fixed;
}

.debate-room-messages{
    width: 100%;
    text-align: start;
    position: absolute;
}

.debate-room-messages .argument-new-message{
    display: none;
}

.debate-room-messages .argument-box-messages{
    padding: 3px 10px;
    background: #F1A957;
    border-radius: 3px;
    display: inline-block;
    color: #FFF;
    opacity: 0.6;
    transition: 200ms;
}

.debate-room-messages .argument-box-messages.none{
    display: none;
}

.debate-room-messages .argument-box-messages:hover{
    opacity: 1;
    transition: 200ms;
}


.debate-room-messages .argument-box-messages a{
    cursor: pointer;
}


/*Fin de los estilos de configuracion global*/

