*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: ROBOTO;
}

html, body{
    width: 100%;
    height: 100%;
}

.href{
    cursor: pointer;
    color: #88F !important;
}

.hard-font{
    font-weight: bold;
}

.btn-email{
    width: 100%;
    background: #F1A957;
    border-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #888;
    border-top: 0px;
    color: #FFF;
}

.email-section-container{
    padding: 20px;
    width: 400px;
    height: 240px;
    border: 1px solid #EEE;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -1px #AAA;
}

.email-section-container button{
    border-radius: 0;
    border: 0;
    padding: 5px;
    margin: 7px 1px;
}

.email-section-container a{
    border-radius: 0;
    border: 0;
    padding: 5px;
    margin: 7px 1px;
    text-align: center;
}

button:focus
{
    outline: none;
}

.main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.start-box{
    padding: 0px 50px;
}

.start-box .login-img{
    display: block;
    margin: auto;
}

 /*Barra de navegación*/

.navbar{
    background: #3A8DB5;
    height: 50px;
    z-index: 1;
    border-bottom: 1px solid #999;
    box-shadow: 0px 0px 10px 0px #555;
}

.navbar-menu-logo{
    display: inline-block;
    height:50px;
    padding: 0px 10px;
}

.navbar-menu-logo .page-name{
    padding: 0px 10px;
    font-size: 20px;
    color: #FFF;
    cursor: default;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.paper-body{
    display: flex;
    flex-direction: row;
    height: 0%;
    flex-grow: 1;
    justify-content: center;
}

.paper-body .body-container{
    max-width: 1500px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.paper-body .body-container .footer{
    background: #DDD;
}

.register-container-panel{
    width: 100%;
    justify-content: center;
}

.register-panel{
    border-radius: 21px;
    box-shadow: 0px 0px 5px 2px #AAA;
    display: flex;
    flex-direction: column;
}

.register-panel .body-panel .email-error-window{
    display: none;
}

.register-panel .body-panel .name-error-window{
    display: none;
}

.register-panel .body-panel .password-error-window{
    display: none;
}

.register-container-panel .register-panel .header-panel{
    background: #3A8DB5;
    color: #FFF;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid #888;
    border-bottom: 0px;
}

.register-container-panel .btn-panel{
    background: #F1A957;
    border-radius: 0px;
    border: 0px;
    position: relative;
    left: 30px;
    color: #FFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #888;
    border-bottom: 0px;
    position: relative;
    top: -5px;
    transition: 100ms;
}

.register-container-panel .btn-panel:hover{
    background: #F1B967;
    transition: 200ms;
}


.register-container-panel .btn-panel.active{
    padding-top: 15px;
    padding-bottom: 15px;
    top: -12px;
}

.input-control{
    padding: 14px;
    height: 14px;
}

.register-container-panel .register-panel .body-panel{
    padding: 10px 30px;
    border: 1px solid #888;
    border-top: 0px;
    border-bottom: 0px;
}

.register-container-panel .register-panel .footer-panel button{
    width: 100%;
    background: #F1A957;
    border-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #888;
    border-top: 0px;
    color: #FFF;
    transition: 100ms;
}

.register-container-panel .register-panel .footer-panel button:hover{
    background: #F1B967;
    transition: 100ms;
}


/*Estilos de los input text*/

.input-control{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.input-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
}
  
.input-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
}
  
.input-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}
  
.input-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}
  
.input-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.input-error:focus{
    box-shadow: 0 0 0 0.2rem #F66;
}

.input-error{
    border: 1px solid #F66;
}





/*-----------Barra de navegación general----------*/
.paper-body .body-container::-webkit-scrollbar {
    background: #F8F8F8;
    width: 7px;
    height: 7px;
}

.paper-body .body-container:hover::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.paper-body .body-container::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}





/*---------Barra de navegación, el boton y el fondo--------*/
.paper-body .body-container::-webkit-scrollbar-thumb {
    background: #F8F8F8;
    border: 0px none #ffffff;
    border-radius: 50px;
}

.paper-body .body-container:hover::-webkit-scrollbar-thumb {
    background: #3A8DB5;
    border: 0px none #ffffff;
    border-radius: 5000px;
}

.paper-body .body-container::-webkit-scrollbar-track {
    background: #F8F8F8;
    border-radius: 50px;
}

.paper-body .body-container:hover::-webkit-scrollbar-track {
    background: #DDD;
    border-radius: 50px;
}

.paper-body .body-container::-webkit-scrollbar-corner {
    background: transparent;
}

.paper-body .body-container::-webkit-scrollbar {
    background: #F8F8F8;
    width: 7px;
    height: 7px;
}

.paper-body .body-container:hover::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.paper-body .body-container::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}


.register-form{
    display: none;
}

.modal{
    z-index: 10;
    position: absolute;
    width: 100%;
    height:100%;
    background: rgba(230, 230, 230, 0.6);
    display: none;
    flex-grow: initial;
    justify-content: center;
    align-items: center;
}

.modal .title{
    width: 95%;
    font-size: 19px;
    font-weight: bold;
    padding: 10px 0px;
}

.modal .sub-title{
    font-size: 16px;
    color: #222;
}

.modal-box{
    background: #fff;
    width: 500px;
    box-shadow: 0px 0px 30px 10px #BBB;
    border-radius: 5px;
    overflow: auto;
}

.modal-box input[type="text"]{
    cursor: text !important;
}

.modal-box .modal-title{
    justify-content: center;
    align-items: center;
    background: #3A8DB5;
    padding: 15px 30px;
    width: 100%;
    color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

 .modal-box .modal-title .modal-close{
    z-index: 4;
    display: block;
    text-align: center;
    background: #F1A957;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    cursor: pointer;
}

.modal input[type="text"]{
    cursor: text !important;
}

.modal-box .footer-panel .btn-submit{
    width: 100%;
    background: #AAA;
    border-radius: 3px;
    color: #FFF;
    padding: 5px 0px;
}

.input-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #AAA;
    border-radius: 100px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}